# Ce fichier liste les dépendances Python nécessaires pour exécuter le projet.
# Chaque ligne indique un package et sa version minimale requise pour son bon fonctionnement

# Dash sert à créer l'applications web.
dash>=2.17

# Plotly est une librairie pour que Dash puis visualiser les graphiques.
plotly>=5.22

# Pandas est une librairies de manipulation de d'analyse des donnnées.
pandas>=2.2

# Request permets de faire des requetes HTTP pour telecharger le CSV depuis le site internet 
rrequests>=2.28
